image:
  repository: ghcr.io/coder/coder
  tag: v2.30.1@sha256:94b4cb8fffa45c10a9d544383723a02b751eeca5b4a5b8733b39dd83efd84865
  pullPolicy: IfNotPresent

subdomain: coder

# Deployment configuration
deployment:
  strategy: Recreate
  replicas: 1
  serviceAccountName: "{release}-serviceaccount" # Will be templated

# Container configuration
container:
  port: 7080
  healthProbe:
    type: tcpSocket
    port: http # Use named port

# Service configuration
service:
  port: 80
  type: ClusterIP

# OIDC client
oidc:
  enabled: true
  redirectUris:
    - "/api/v2/users/oidc/callback"

# Volume configuration
volumes:
  - name: data
    mountPath: /home/coder/.config
    persistentVolumeClaim: data
    storageClassName: persistent

# Persistent volume claims
persistentVolumeClaims:
  - name: data
    size: 1Gi

# VirtualService configuration
virtualService:
  enabled: true
  allowWildcard: true
  gateways:
    public: false
    private: true

# Environment variables
env:
  CODER_HTTP_ADDRESS: "0.0.0.0:7080"
  CODER_OIDC_ALLOWED_GROUPS: admin
  CODER_OIDC_GROUP_FIELD: groups
  CODER_ACCESS_URL:
    value: "https://{subdomain}.{domain}"
  CODER_WILDCARD_ACCESS_URL:
    value: "*.{subdomain}.{domain}"
  CODER_OIDC_ICON_URL: "https://{subdomain}.{domain}/static/dist/assets/icons/icon.png"
  CODER_DISABLE_PASSWORD_AUTH: "true"
  CODER_OAUTH2_GITHUB_ALLOW_SIGNUPS: "false"
  CODER_OIDC_SIGN_IN_TEXT: "Sign in with OIDC"
  CODER_OIDC_SCOPES: "openid,profile,email,offline_access"
  CODER_OIDC_ISSUER_URL:
    valueFrom:
      secretKeyRef:
        name: "{release}-oidc-credentials"
        key: issuer
  CODER_OIDC_CLIENT_ID:
    valueFrom:
      secretKeyRef:
        name: "{release}-oidc-credentials"
        key: clientId
  CODER_OIDC_CLIENT_SECRET:
    valueFrom:
      secretKeyRef:
        name: "{release}-oidc-credentials"
        key: clientSecret
