image:
  repository: ghcr.io/jordan-dalby/bytestash
  tag: 1.5.11@sha256:f5ca5cc8c33d76eda8969757d5b6da653c39ca8d946b3f7bfbc86df1360bf525
  pullPolicy: IfNotPresent

subdomain: bytestash

# Deployment configuration
deployment:
  strategy: Recreate
  replicas: 1

# Container configuration
container:
  ports:
    - name: http
      port: 5000
      protocol: TCP
  healthProbe:
    type: tcpSocket
    port: http

# Service configuration
service:
  port: 80
  type: ClusterIP

# Volume configuration
volumes:
  - name: data
    mountPath: /data/snippets
    persistentVolumeClaim: data

# Persistent volume claims
persistentVolumeClaims:
  - name: data
    size: 1Gi
    storageClassName: persistent

# VirtualService configuration
virtualService:
  enabled: true
  gateways:
    public: true
    private: true

# OIDC/Authentik configuration
oidc:
  enabled: true
  redirectUris:
    - "/api/auth/oidc/callback"
  subjectMode: user_username

# Environment variables
env:
  ALLOW_NEW_ACCOUNTS: "true"
  DISABLE_INTERNAL_ACCOUNTS: "true"
  OIDC_ENABLED: "true"
  OIDC_DISPLAY_NAME: OIDC
  OIDC_CLIENT_ID:
    valueFrom:
      secretKeyRef:
        name: "{release}-oidc-credentials"
        key: clientId
  OIDC_CLIENT_SECRET:
    valueFrom:
      secretKeyRef:
        name: "{release}-oidc-credentials"
        key: clientSecret
  OIDC_ISSUER_URL:
    valueFrom:
      secretKeyRef:
        name: "{release}-oidc-credentials"
        key: issuer
