image:
  repository: ghcr.io/home-assistant/home-assistant
  tag: 2025.12.5@sha256:9a5a3eb4a213dfb25932dee9dc6815c9305f78cecb5afa716fa2483163d8fb5b
  pullPolicy: IfNotPresent

subdomain: home-assistant

# Deployment configuration
deployment:
  strategy: Recreate
  replicas: 1
  hostNetwork: true
  dnsPolicy: ClusterFirstWithHostNet

# Container configuration
container:
  port: 8123
  healthProbe:
    type: tcpSocket
    port: http # Use named port
  securityContext:
    privileged: true

# Service configuration
service:
  port: 80
  type: ClusterIP

# VirtualService configuration
virtualService:
  enabled: true
  gateways:
    public: true
    private: true

# OIDC client configuration
oidc:
  enabled: true
  redirectUris:
    - "/auth/openid/callback"
  subjectMode: user_username

# Volume configuration
volumes:
  - name: config
    mountPath: /config
    persistentVolumeClaim: config
  - name: misc
    mountPath: /media/misc
    persistentVolumeClaim: misc # External PVC, not prefixed

# Persistent volume claims
persistentVolumeClaims:
  - name: config
    size: 5Gi
    storageClassName: persistent
piper:
  image:
    repository: ghcr.io/morten-olsen/glados-voice
    tag: main@sha256:8fcc19bd9e7e846bdfd9e9e569c8c944dcfb1d0b47e3f479cbaa7f5587c7206c
    pullPolicy: Always
  model: en_US-glados-medium
whisper:
  image:
    repository: rhasspy/wyoming-whisper
    tag: latest@sha256:9501d2659eee83b6eead98d53842193e5fed011eda6c5b1c3ad36f3146b28fed
    pullPolicy: IfNotPresent
  model: tiny-int8
  language: us
matter:
  image:
    repository: ghcr.io/home-assistant-libs/python-matter-server
    tag: stable@sha256:170aa093ce91c76cde4cc390918307590f0f5558fcec93f913af3cb019e6562a
    pullPolicy: IfNotPresent
