{{ include "common.externalSecrets.passwordGenerators" . }}
{{ include "common.externalSecrets.externalSecrets" . }}

---
apiVersion: v1
kind: Secret
metadata:
  name: "{{ .Release.Name }}-postgres"
type: Opaque
stringData:
  POSTGRES_DB: immich
  POSTGRES_USER: immich

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ .Release.Name }}-postgres"
spec:
  strategy:
    type: Recreate
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: "{{ .Release.Name }}-postgres"
  template:
    metadata:
      labels:
        app: "{{ .Release.Name }}-postgres"
    spec:
      containers:
        - name: postgres
          image: "{{ .Values.postgres.image.repository }}:{{ .Values.postgres.image.tag }}"
          imagePullPolicy: "{{ .Values.postgres.image.pullPolicy }}"
          env:
            - name: POSTGRES_DB
              valueFrom:
                secretKeyRef:
                  name: "{{ .Release.Name }}-postgres"
                  key: POSTGRES_DB
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: "{{ .Release.Name }}-postgres"
                  key: POSTGRES_USER
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: "{{ .Release.Name }}-postgres-secret"
                  key: password
            - name: PGDATA
              value: /var/lib/postgresql/data/pgdata
          ports:
            - name: postgres
              containerPort: 5432
              protocol: TCP
          volumeMounts:
            - mountPath: /var/lib/postgresql/data
              name: postgres-data
          livenessProbe:
            exec:
              command:
                - /bin/sh
                - -c
                - pg_isready -U immich
          readinessProbe:
            exec:
              command:
                - /bin/sh
                - -c
                - pg_isready -U immich
      volumes:
        - name: postgres-data
          persistentVolumeClaim:
            claimName: "{{ .Release.Name }}-postgres-data"

---
apiVersion: v1
kind: Service
metadata:
  name: "{{ .Release.Name }}-postgres"
  labels:
    app: "{{ .Release.Name }}-postgres"
spec:
  type: ClusterIP
  ports:
    - port: 5432
      targetPort: 5432
      protocol: TCP
      name: postgres
  selector:
    app: "{{ .Release.Name }}-postgres"

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: "{{ .Release.Name }}-postgres-data"
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 50Gi
  storageClassName: "{{ .Values.globals.environment }}"

