image:
  repository: crocodilestick/calibre-web-automated
  tag: latest@sha256:c31a738b6d5ec6982c050063dd3f063b6943eb1051fc81144789f840d9093a8d
  pullPolicy: IfNotPresent

subdomain: calibre-web

# Deployment configuration
deployment:
  strategy: Recreate
  replicas: 1

# Container configuration
container:
  port: 8083
  healthProbe:
    type: tcpSocket

# Service configuration
service:
  port: 80
  type: ClusterIP

# Volume configuration
volumes:
  - name: data
    mountPath: /config
    persistentVolumeClaim: data # Will be prefixed with release name
  - name: books
    mountPath: /calibre-library
    persistentVolumeClaim: books # External PVC, used as-is

# Persistent volume claims
persistentVolumeClaims:
  - name: data
    size: 1Gi
    storageClassName: persistent

# VirtualService configuration
virtualService:
  enabled: true
  gateways:
    public: true
    private: true

# Environment variables
env:
  NETWORK_SHARE_MODE: "true"
  PUID: "1000"
  PGID: "1000"
