{{- if .Values.actions.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: "{{ .Release.Name }}-runner-config"
data:
  config.yml: |
    log:
      level: warn
      format: text
    
    runner:
      file: .runner
    
    container:
      network: host
      options: -v /certs/client:/certs/client -e DOCKER_HOST=tcp://localhost:2376 -e DOCKER_TLS_VERIFY=1 -e DOCKER_CERT_PATH=/certs/client
      valid_volumes:
        - /certs/client
    
    envs:
      DOCKER_HOST: tcp://localhost:2376
      DOCKER_TLS_VERIFY: "1"
      DOCKER_CERT_PATH: /certs/client
{{- end }}
