apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: cloudflare-dns
spec:
  acme:
    server: https://acme-v02.api.letsencrypt.org/directory
    email: admin@demo.olsen.cloud
    privateKeySecretRef:
      name: cloudflare-dns-issuer-key
    solvers:
      - dns01:
          cloudflare:
            apiTokenSecretRef:
              name: cloudflare-api-token
              key: api-token
