service:
  image:
    repository: n8nio/n8n
    tag: 2.1.0@sha256:18956052765072b4ec06decbe39e72e792a6056f67a06dfa88969f4a6772fe83
    pullPolicy: IfNotPresent
runner:
  image:
    repository: n8nio/runners
    tag: 2.1.0@sha256:5e581a2233496af9940e7c98f44ab1108f3ab1b16ee05bfa168857bbf16a9503
    pullPolicy: IfNotPresent
subdomain: n8n
