service:
  image:
    repository: n8nio/n8n
    tag: 2.1.1@sha256:0f10214f8f9484581288861f682eb73482f923c2c697d57fa300568433bb9ff1
    pullPolicy: IfNotPresent
runner:
  image:
    repository: n8nio/runners
    tag: 2.1.1@sha256:46ebf13bb453cade9bad7d40a71b0480f5511620b7ce8f9fe47ab8cbfb8270b2
    pullPolicy: IfNotPresent
subdomain: n8n
