service:
  image:
    repository: n8nio/n8n
    tag: 2.2.1@sha256:ee59276d9d5c7daa97462830cfae12d71cea55adcad705e1756e0c616fcf26b9
    pullPolicy: IfNotPresent
runner:
  image:
    repository: n8nio/runners
    tag: 2.2.1@sha256:5493a0abe36a0b0e6cca4b3eb6a4d73c2af60db87a8310181f3aea6447a71114
    pullPolicy: IfNotPresent
subdomain: n8n
