image:
  repository: n8nio/n8n
  tag: 2.4.4@sha256:69226d5f1eb13bc303418730939799239fa96545513f571f2890442b77c7a522
  pullPolicy: IfNotPresent

runner:
  image:
    repository: n8nio/runners
    tag: 2.4.4@sha256:ee6c1bca94c0b4ed9e8ba3ff2c866178e154578e8069da9382570f446234b0fb
    pullPolicy: IfNotPresent

subdomain: n8n

# Deployment configuration
deployment:
  strategy: RollingUpdate
  replicas: 1

# Container configuration (multiple ports)
container:
  ports:
    - name: http
      port: 5678
      protocol: TCP
    - name: http-broker
      port: 5679
      protocol: TCP
  healthProbe:
    type: httpGet
    path: /healthz
    port: http # Use named port

# Service configuration (multiple services)
service:
  ports:
    - name: http
      port: 80
      targetPort: 5678
      type: ClusterIP
    - name: broker
      port: 80
      targetPort: 5679
      serviceName: broker
      type: ClusterIP

# Volume configuration
volumes:
  - name: data
    mountPath: /home/node/.n8n
    persistentVolumeClaim: data
    storageClassName: persistent

# Persistent volume claims
persistentVolumeClaims:
  - name: data
    size: 1Gi

# VirtualService configuration
virtualService:
  enabled: true
  gateways:
    public: true
    private: true

# OIDC client configuration
oidc:
  enabled: true
  redirectUris:
    - "/rest/oauth2-credential/callback"
  subjectMode: user_username

# Database configuration
database:
  enabled: true

# External Secrets configuration
externalSecrets:
  - name: "{release}-secret"
    passwords:
      - name: password
        length: 64
        allowRepeat: true
        encoding: hex
        secretKeys:
          - password

# Environment variables
env:
  TZ:
    value: "{timezone}"
  GENERIC_TIMEZONE:
    value: "{timezone}"
  N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS: "true"
  OFFLOAD_MANUAL_EXECUTIONS_TO_WORKERS: "true"
  N8N_EDITOR_BASE_URL:
    value: "https://{subdomain}.{domain}"
  WEBHOOK_URL:
    value: "https://{subdomain}.{domain}"
  VUE_APP_URL_BASE_API:
    value: "https://{subdomain}.{domain}"
  N8N_HOST:
    value: "{subdomain}.{domain}"
  N8N_DIAGNOSTICS_ENABLED: "false"
  DB_TYPE: postgresdb
  DB_POSTGRESDB_DATABASE:
    valueFrom:
      secretKeyRef:
        name: "{release}-connection"
        key: database
  DB_POSTGRESDB_HOST:
    valueFrom:
      secretKeyRef:
        name: "{release}-connection"
        key: host
  DB_POSTGRESDB_PORT:
    valueFrom:
      secretKeyRef:
        name: "{release}-connection"
        key: port
  DB_POSTGRESDB_USER:
    valueFrom:
      secretKeyRef:
        name: "{release}-connection"
        key: user
  DB_POSTGRESDB_PASSWORD:
    valueFrom:
      secretKeyRef:
        name: "{release}-connection"
        key: password
  N8N_RUNNERS_AUTH_TOKEN:
    valueFrom:
      secretKeyRef:
        name: "{release}-secret"
        key: password
  N8N_RUNNERS_ENABLED: "true"
  N8N_RUNNERS_MODE: external
  N8N_NATIVE_PYTHON_RUNNER: "true"
  N8N_RUNNERS_BROKER_LISTEN_ADDRESS: "0.0.0.0"
