service:
  image:
    repository: n8nio/n8n
    tag: 2.0.2@sha256:e3a4256dd2aa3b987e10da3c1194081575933987b26a604a4f52d2bdd62a5b72
    pullPolicy: IfNotPresent
runner:
  image:
    repository: n8nio/runners
    tag: 2.0.2@sha256:c9476594e1dd00f6be71b269b8c11b4f13a6d210020a395f023f055b5a7eea23
    pullPolicy: IfNotPresent
subdomain: n8n
