subdomain: penpot
server:
  image:
    repository: ghcr.io/immich-app/immich-server
    tag: release
    pullPolicy: IfNotPresent
ml:
  image:
    repository: ghcr.io/immich-app/immich-machine-learning
    tag: release
    pullPolicy: IfNotPresent
valkey:
  image:
    repository: valkey/valkey
    tag: 9.0@sha256:fb8d272e529ea567b9bf1302245796f21a2672b8368ca3fcb938ac334e613c8f
    pullPolicy: IfNotPresent
