image:
  repository: ghcr.io/morten-olsen/aperture
  tag: 0.2.3
  pullPolicy: Always

subdomain: glados

deployment:
  strategy: Recreate
  replicas: 1

container:
  ports:
    - name: http
      port: 3000
      protocol: TCP
# Service configuration
service:
  port: 3000
  type: ClusterIP

initContainers:
  - name: fix-permissions
    image: busybox@sha256:b3255e7dfbcd10cb367af0d409747d511aeb66dfac98cf30e97e87e4207dd76f
    command: ["sh", "-c", "chown -R 1001:1001 /data"]
    volumeMounts:
      - name: data
        mountPath: /data
    securityContext:
      runAsUser: 0

volumes:
  - name: data
    mountPath: /data
    persistentVolumeClaim: data
  - name: config
    mountPath: /etc/glados
    secret: glados-secrets

persistentVolumeClaims:
  - name: data
    size: 10Gi

# VirtualService configuration
virtualService:
  enabled: true
  gateways:
    public: false
    private: true
