image:
  repository: ghcr.io/morten-olsen/agentic
  tag: 0.0.39
  pullPolicy: Always

subdomain: glados

deployment:
  strategy: Recreate
  replicas: 1

container:
  ports:
    - name: http
      port: 8080
      protocol: TCP

initContainers:
  - name: fix-permissions
    image: busybox@sha256:b3255e7dfbcd10cb367af0d409747d511aeb66dfac98cf30e97e87e4207dd76f
    command: ["sh", "-c", "chown -R 1000:1000 /data"]
    volumeMounts:
      - name: data
        mountPath: /data
    securityContext:
      runAsUser: 0

volumes:
  - name: data
    mountPath: /data
    persistentVolumeClaim: data

persistentVolumeClaims:
  - name: data
    size: 10Gi

env:
  GLADOS_LLM_MODEL:
    valueFrom:
      secretKeyRef:
        name: glados-secrets
        key: GLADOS_LLM_MODEL
  GLADOS_LLM_API_KEY:
    valueFrom:
      secretKeyRef:
        name: glados-secrets
        key: GLADOS_LLM_API_KEY
  GLADOS_TELEGRAM_BOT_TOKEN:
    valueFrom:
      secretKeyRef:
        name: glados-secrets
        key: GLADOS_TELEGRAM_BOT_TOKEN
  GLADOS_TELEGRAM_OWNER_ID:
    valueFrom:
      secretKeyRef:
        name: glados-secrets
        key: GLADOS_TELEGRAM_OWNER_ID
  GLADOS_HOMEASSISTANT_URL:
    valueFrom:
      secretKeyRef:
        name: glados-secrets
        key: GLADOS_HOMEASSISTANT_URL
  GLADOS_HOMEASSISTANT_TOKEN:
    valueFrom:
      secretKeyRef:
        name: glados-secrets
        key: GLADOS_HOMEASSISTANT_TOKEN
  GLADOS_HOMEASSISTANT_CALENDARS: "calendar.cecilie_og_morten,calendar.morten_olsen_zeronorth_com"
  GLADOS_HOMEASSISTANT_PERSON_ENTITY: "person.morten"
