apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ .Release.Name }}"
spec:
  strategy:
    type: Recreate
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: "{{ .Release.Name }}"
  template:
    metadata:
      labels:
        app: "{{ .Release.Name }}"
    spec:
      containers:
        - name: "{{ .Release.Name }}"
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: "{{ .Values.image.pullPolicy }}"
          env:
            - name: TZ
              value: "{{ .Values.globals.timezone }}"
            - name: MEMOS_PORT
              value: "5230"
            - name: MEMOS_DATA
              value: /var/opt/memos
            - name: MEMOS_MODE
              value: prod
            - name: MEMOS_ADDR
              value: 0.0.0.0
          ports:
            - name: http
              containerPort: 5230
              protocol: TCP
          livenessProbe:
            tcpSocket:
              port: http
          readinessProbe:
            tcpSocket:
              port: http
          volumeMounts:
            - mountPath: /var/opt/memos
              name: config
      volumes:
        - name: config
          persistentVolumeClaim:
            claimName: "{{ .Release.Name }}-config"
