subdomain: immich

# Image configurations for multiple deployments
server:
  image:
    repository: ghcr.io/immich-app/immich-server
    tag: release@sha256:aa163d2e1cc2b16a9515dd1fef901e6f5231befad7024f093d7be1f2da14341a
    pullPolicy: IfNotPresent
ml:
  image:
    repository: ghcr.io/immich-app/immich-machine-learning
    tag: release@sha256:b213fa3c82d27a21a299c46ffbb38a091f18384db1ad67d409a3b34fe0fce556
    pullPolicy: IfNotPresent
valkey:
  image:
    repository: valkey/valkey
    tag: 9-alpine@sha256:ad4541b28b017bf4cd83ee057c51aafb21ea32e898e3f3b8b75e268650f2ac20
    pullPolicy: IfNotPresent
postgres:
  image:
    repository: pgvector/pgvector
    tag: pg16@sha256:7d400e340efb42f4d8c9c12c6427adb253f726881a9985d2a471bf0eed824dff
    pullPolicy: IfNotPresent

# Database configuration
database:
  enabled: true

# Persistent volume claims
persistentVolumeClaims:
  - name: upload
    size: 100Gi
    storageClassName: persistent
  - name: library
    size: 100Gi
    storageClassName: persistent
  - name: model-cache
    size: 10Gi

# Note: Services are kept custom due to different selectors for each deployment

# VirtualService configuration
virtualService:
  enabled: true
  gateways:
    public: true
    private: true
  servicePort: 80 # Port of the main server service

# OIDC client configuration
oidc:
  enabled: true
  redirectUris:
    - "/api/auth/callback/authentik"
  subjectMode: user_username
