subdomain: immich

# Image configurations for multiple deployments
server:
  image:
    repository: ghcr.io/immich-app/immich-server
    tag: release@sha256:161b1ec8af9e0478797cfd75ea857c7e55af271fa7cea103cb30ab1ba5b418d8
    pullPolicy: IfNotPresent
ml:
  image:
    repository: ghcr.io/immich-app/immich-machine-learning
    tag: release@sha256:2e17e15855907ece0d5b3a7bf625b12f6d987a5854fa71d888641acae28b0323
    pullPolicy: IfNotPresent
valkey:
  image:
    repository: valkey/valkey
    tag: 9-alpine@sha256:68677f85c863830af7836ff07c4a13b7f085ebeff62f4dedb71499ca27d229f2
    pullPolicy: IfNotPresent
postgres:
  image:
    repository: pgvector/pgvector
    tag: pg16@sha256:b7777bdf891c085d63413b4d000eacf43ccef926b2f014163aa49dbcb4acd4c6
    pullPolicy: IfNotPresent

# Database configuration
database:
  enabled: true

# Persistent volume claims
persistentVolumeClaims:
  - name: upload
    size: 100Gi
    storageClassName: persistent
  - name: library
    size: 100Gi
    storageClassName: persistent
  - name: model-cache
    size: 10Gi

# Note: Services are kept custom due to different selectors for each deployment

# VirtualService configuration
virtualService:
  enabled: true
  gateways:
    public: true
    private: true
  servicePort: 80 # Port of the main server service

# OIDC client configuration
oidc:
  enabled: true
  redirectUris:
    - "/api/auth/callback/authentik"
  subjectMode: user_username
