image:
  repository: ghcr.io/esphome/esphome
  tag: 2025.12.4@sha256:a7915def0a60c76506db766b7b733760f09b47ab6a511d5052a6d38bc3f424e3
  pullPolicy: IfNotPresent

subdomain: esphome

# Deployment configuration
deployment:
  strategy: Recreate
  replicas: 1
  revisionHistoryLimit: 0
  hostNetwork: true  # ESPHome needs hostNetwork for device discovery

# Container configuration
container:
  port: 6052
  healthProbe:
    type: tcpSocket
    port: http  # Use named port

# Service configuration
service:
  port: 80
  type: ClusterIP

# Volume configuration
volumes:
  - name: data
    mountPath: /config
    persistentVolumeClaim: data

# Persistent volume claims
persistentVolumeClaims:
  - name: data
    size: 1Gi

# VirtualService configuration
virtualService:
  enabled: true
  gateways:
    public: false
    private: true
