image:
  repository: ghcr.io/esphome/esphome
  tag: 2026.1.4@sha256:c6d4a461cb479b953bb9f6f4fb7844dc06ec8efd94c84fcb6d221597b54f24a9
  pullPolicy: IfNotPresent

subdomain: esphome

# Deployment configuration
deployment:
  strategy: Recreate
  replicas: 1
  hostNetwork: true # ESPHome needs hostNetwork for device discovery

# Container configuration
container:
  port: 6052
  healthProbe:
    type: tcpSocket
    port: http # Use named port

# Service configuration
service:
  port: 80
  type: ClusterIP

# Volume configuration
volumes:
  - name: data
    mountPath: /config
    persistentVolumeClaim: data

# Persistent volume claims
persistentVolumeClaims:
  - name: data
    size: 10Gi
    storageClassName: persistent

# VirtualService configuration
virtualService:
  enabled: true
  gateways:
    public: false
    private: true
