image:
  repository: blinkospace/blinko
  tag: latest@sha256:6db31658e58a0af9d2e15312de995fb3bb3d04db30b2fe500ed4ff0360c57518
  pullPolicy: IfNotPresent

subdomain: blinko

# Deployment configuration
deployment:
  strategy: RollingUpdate
  replicas: 1
  revisionHistoryLimit: 0

# Container configuration
container:
  port: 1111
  healthProbe:
    type: tcpSocket
    port: http  # Use named port

# Service configuration
service:
  port: 80
  type: ClusterIP

# Volume configuration
volumes:
  - name: data
    mountPath: /data
    persistentVolumeClaim: data

# Persistent volume claims
persistentVolumeClaims:
  - name: data
    size: 1Gi

# VirtualService configuration
virtualService:
  enabled: true
  gateways:
    public: true
    private: true

# Environment variables
env:
  NODE_ENV: "production"
  NEXTAUTH_URL:
    value: "https://{subdomain}.{domain}"
  NEXT_PUBLIC_BASE_URL:
    value: "https://{subdomain}.{domain}"
  NEXTAUTH_SECRET:
    valueFrom:
      secretKeyRef:
        name: "{release}-secrets"
        key: betterauth
  DATABASE_URL:
    valueFrom:
      secretKeyRef:
        name: "{release}-pg-connection"
        key: url
