image:
  repository: gotson/komga
  tag: latest@sha256:09129eae6eff50337f039bd6e99d995126cb03226950c80e9864cbc05f10a661
  pullPolicy: IfNotPresent

subdomain: komga

deployment:
  strategy: Recreate
  replicas: 1

container:
  port: 25600
  securityContext:
    runAsUser: 1000
    runAsGroup: 1000
  healthProbe:
    type: tcpSocket
    port: "25600"

service:
  port: 80
  targetPort: 25600
  type: ClusterIP

volumes:
  - name: config
    mountPath: /config
    persistentVolumeClaim: komga-config
  - name: comics
    mountPath: /data/comics
    persistentVolumeClaim: comics
  - name: downloads
    mountPath: /data/downloads
    persistentVolumeClaim: downloads

persistentVolumeClaims:
  - name: config
    size: 1Gi

initContainers:
  - name: fix-permissions
    image: busybox@sha256:2383baad1860bbe9d8a7a843775048fd07d8afe292b94bd876df64a69aae7cb1
    command: ["sh", "-c", "chown -R 1000:1000 /config"]
    securityContext:
      runAsUser: 0
    volumeMounts:
      - name: config
        mountPath: /config

virtualService:
  enabled: true
  gateways:
    public: true
    private: true
