image:
  repository: ghcr.io/home-assistant/home-assistant
  tag: 2025.11.3@sha256:f971850a6ec1fb5c5fd4e1748058e9e1f589aaf0da933b8d88bb5dee03f5b5e8
  pullPolicy: IfNotPresent
subdomain: home-assistant
piper:
  image:
    repository: ghcr.io/morten-olsen/glados-voice
    tag: main@sha256:8fcc19bd9e7e846bdfd9e9e569c8c944dcfb1d0b47e3f479cbaa7f5587c7206c
    pullPolicy: Always
  model: en_US-glados-medium
whisper:
  image:
    repository: rhasspy/wyoming-whisper
    tag: latest@sha256:995b37523bc422f4f7649e50ccded97a5b9bf6d1d0420591183a778dd5d7d3f2
    pullPolicy: IfNotPresent
  model: tiny-int8
  language: us
matter:
  image:
    repository: ghcr.io/home-assistant-libs/python-matter-server
    tag: stable@sha256:170aa093ce91c76cde4cc390918307590f0f5558fcec93f913af3cb019e6562a
    pullPolicy: IfNotPresent
