image:
  repository: codeberg.org/forgejo/forgejo
  tag: 13
  pullPolicy: IfNotPresent
subdomain: code

woodpecker:
  server:
    env:
      - name: WOODPECKER_GITEA
        value: "true"
  agent:
    enabled: true
