image:
  repository: ghcr.io/home-assistant/home-assistant
  tag: 2025.11.0@sha256:8949aa75a417c0a71208255c999bfb3eea3e909ff2eab4ac4ca26a2cbd886f05
  pullPolicy: IfNotPresent
subdomain: home-assistant
piper:
  image:
    repository: ghcr.io/morten-olsen/glados-voice
    tag: main@sha256:8fcc19bd9e7e846bdfd9e9e569c8c944dcfb1d0b47e3f479cbaa7f5587c7206c
    pullPolicy: Always
  model: en_US-glados-medium
whisper:
  image:
    repository: rhasspy/wyoming-whisper
    tag: latest@sha256:08031ae19b68f286bbc99daf65e90c526bd99a7812e2e64ea3c0f23624538b97
    pullPolicy: IfNotPresent
  model: tiny-int8
  language: us
matter:
  image:
    repository: ghcr.io/home-assistant-libs/python-matter-server
    tag: stable@sha256:170aa093ce91c76cde4cc390918307590f0f5558fcec93f913af3cb019e6562a
    pullPolicy: IfNotPresent
