image:
  repository: docker.io/jellyfin/jellyfin
  tag: latest@sha256:6d819e9ab067efcf712993b23455cc100ee5585919bb297ea5a109ac00cb626e
  pullPolicy: IfNotPresent

subdomain: jellyfin-kids

# Deployment configuration
deployment:
  strategy: Recreate
  replicas: 1

# Container configuration
container:
  port: 8096
  healthProbe:
    type: tcpSocket
    port: http # Use named port

# Service configuration
service:
  port: 80
  targetPort: 8096
  type: ClusterIP

# OIDC client
oidc:
  enabled: true
  redirectUris:
    - "/sso/OID/redirect/Authentik"

# Volume configuration
volumes:
  - name: config
    mountPath: /config
    persistentVolumeClaim: config
  - name: kidsmusic
    mountPath: /media/kids-music
    persistentVolumeClaim: kidsmusic # External PVC (not prefixed)
  - name: media
    mountPath: /media/youtube
    persistentVolumeClaim: kidsyoutube # External PVC (not prefixed with release name)

# Persistent volume claims
persistentVolumeClaims:
  - name: config
    size: 5Gi
    storageClassName: persistent

# VirtualService configuration
virtualService:
  enabled: true
  gateways:
    public: true
    private: true
