apiVersion: authentik.homelab.mortenolsen.pro/v1alpha1
kind: AuthentikServer
metadata:
  name: authentik
spec:
  # Reference to a secret containing the PostgreSQL connection URL
  # The secret must have a key "url" (or specify a different key)
  postgresHostSecretRef:
    name: "{{ .Release.Name }}-pg-connection"
    key: host
  postgresUserSecretRef:
    name: "{{ .Release.Name }}-pg-connection"
    key: user
  postgresPasswordSecretRef:
    name: "{{ .Release.Name }}-pg-connection"
    key: password
  postgresNameSecretRef:
    name: "{{ .Release.Name }}-pg-connection"
    key: database
  # External hostname for Authentik
  host: test-auth.olsen.cloud
  # Optional: Authentik container image
  # image: ghcr.io/goauthentik/server:latest
  # Optional: Number of replicas
  # replicas: 1
  # Optional: TLS configuration
  tls:
    enabled: true
    secretName: auth-tls

